<ion-content [fullscreen]="true">
  <div class="login-wrapper">
    <img src="../../assets/images/logo.png" alt="logo" />
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="login-form-controls">
        <ion-input required formControlName="userName" placeholder="Username"></ion-input>
        <ion-input required type="password" #input formControlName="password" placeholder="Password"></ion-input>
        <ion-icon class="password-icon" name="eye" slot="end"></ion-icon>
        <ion-button type="submit" [disabled]="!loginForm.valid" class="signIn-Btn" expand="full" shape="round" fill="outline" (click)="signIn()">Sign In</ion-button>
        <p class="forgot-pwd-link">Forgot password?</p>
        <p class="seperator">or</p>
      </div>
    </form>
    <img src="../../assets/images/finger print.png" alt="fingerprint" />
    <ion-button  class="new-customer-btn" expand="full" shape="round" fill="outline">New Customer ?</ion-button >
    <p class="donot-have-account-text">Don't have account? <span>Sign Up</span></p>
  </div>
</ion-content>
