<div class="dashboard-container">
  <ion-buttons slot="start" class="dashboard-top-row-buttons">
    <ion-menu-button></ion-menu-button>
    <ion-icon name="notifications-outline" class="notification-icon"></ion-icon>
  </ion-buttons>
  <div class="user-info-text">
      <p class="welcome-text">Welcome Back</p>
      <p class="user-text">Andrew Smith</p>
      <p class="loan-text">Your loan payment due is on 13th May</p>
  </div>
  <div class="loan-list-details">
    <div class="offer-zone">
        <img src="../../assets/images/offer.svg" alt="offer"/>
        <p>We are offering you a 10% discount on refinancing. Refinance Now ?</p>
    </div>
    <div class="current-loan-list">
      <p class="current-loan-text"><span>Your current loans</span></p>
      <p class="loan-number"><span>Loan #</span>&nbsp;893477666684</p>
    </div>
    <div class="loan-details-wrap">
      <div class="loan-details">
        <div class="left-wrap">
          <label>Loan Type</label>
          <span class="mspace">Cash Advance</span>
          <label>Balance</label>
          <span>$ 500</span>
        </div>
        <div class="right-wrap">
          <label>Amount Due</label>
          <span class="mspace">$ 60.45</span>
          <label>Payment Due On</label>
          <span>05/13/2020</span>
        </div>
      </div>
      <div class="pay-button">
        <ion-button type="button" class="signIn-Btn" expand="full" shape="round" fill="outline">Pay $500</ion-button>
      </div>
    </div>
    <div class="loan-details-wrap">
      <div class="loan-details">
        <div class="left-wrap">
          <label>Loan Type</label>
          <span class="mspace">Installment Loan</span>
          <label>Balance</label>
          <span>$ 1000</span>
        </div>
        <div class="right-wrap">
          <label>Amount Due</label>
          <span class="mspace">$ 500</span>
          <label>Payment Due On</label>
          <span>05/13/2020</span>
        </div>
      </div>
      <div class="pay-button">
        <ion-button type="button" class="signIn-Btn" expand="full" shape="round" fill="outline">Pay $200</ion-button>
      </div>
    </div>
    <div class="current-loan-list">
      <p class="current-loan-product-text"><span>Other Products</span></p>
      <div class="scroll-products">
        <div class="product-one">
          <div class="product-image">
            <img src="../../assets/images/western-union-money-transfer-logo.svg">
          </div>
          <p class="product-name">Western Union</p>
        </div>
        <div class="product-two">
          <div class="product-image">
            <img src="../../assets/images/cheque.svg">
          </div>
          <p class="product-name">Cheque Cashing</p>
        </div>
        <div class="product-three">
          <div class="product-image">
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="chat">
    <img src="../../assets/images/multimedia.svg">
  </div>
</div>
